* {
  max-width: 100%;
  max-height: 100%;
  margin: 0; 
  padding: 0;
}



/* --------------------------- footer --------------------------*/



.element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ecriture {
  border-right: 3px solid black;
  margin-top: 25px;
  padding-right: 5%;
}

.image {
  padding-top: 15px;
}

img {
  width: 50px;
}



/* ------------------- lien -------------------------- */
a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
}

a:active  {
  color: black;
}




/*  -------------------------------------------- top -------------------------------------------- */


/* --------------------------------- bouton valider -----------------------------*/




.loupeimage {
  width: 30px;
}

.modulerecherche {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

#rechercher {
  height: 30%;
  margin-top: 3%;
}





.barre {
  display: flex;
  margin-top: 10px;
}

h3 {
  font-style: italic;
  text-shadow:-0.1em -0.1em 0em white;
  margin-top: 20px;
  font-size: 35px;
}




nav {
  width: 100%;
  font-family: 'Source code pro', Calibri, serif;
  position: fixed;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}


nav > ul > li > a {
  padding: 20px 30px;
  color: white;

}

/* on aligne correctement les sous menu quand on passe la souris devant */
nav > ul  > li:hover a {
  padding: 15px 30px 20px 30px;
  background-color: black;

}


nav li {
  list-style-type: none; /*on eneleve les points*/
}

/* on met les titres cote a cote */
nav > ul > li {
  float: left; 
  position: relative;

}

.submenu {
  display: none; /* on fait disparaitre les sous menu / attention il faudra les faire réaparaitre */
}

nav a {
  display: inline-block;
  text-decoration: none;

}

/* on re affiche les sous menu quand on pace la souris dessus */
nav li:hover .submenu {  
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;


}



/* bordure qui a entre les sous menus */
.submenu li {
  border-bottom: 2px solid white;
}

.submenu li a {
  padding: 15px 30px;
    font-size: 15px;
    color: white;
    width: 270px;

}

/* on change la couleur quand on passe sa souris  dessus */
.menuhomme:hover {
  border-top: 5px solid #e44d26;
  background-color: rgba(228, 77, 38, 0.15);
}

.menufemme:hover {
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}

.menuhomme, .menufemme {
  font-size: 25px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}





main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  background-color: black;
  background-image: url("../img/index/fonddeux.jpg");
  color: white;
}

.titre {
  text-align: center;
  font-size: 40px;
}

.choix {
  display: flex;
  justify-content: space-around;

}

.letout {
  margin-top: 75px;
}

.chaussure {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.chaussureimg {
  width: 50%;
  padding-top: 5vh;
}

.listechaussure {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 30%;
  margin: auto;
  text-align: center;
}

main > div > div > p {
  padding-top: 8vh;
  font-size: 25px;
}


.bas_de_page {
  height: 70vh;
  margin-top: 30px;
}

.formulaire {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
}

#commentaire {
  height: 50vh;
  margin-bottom: 10px;
}

.etoile {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.valider {
  margin-top: 20px;
}


.blocketoile {
  display: flex;
  justify-content: space-around;
}

.blocketoile > div {
  width: 100px;
}



