* {
  margin: 0; 
  padding: 0;
}

/* --------------------------- footer --------------------------*/



footer {
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ecriture {
  border-right: 3px solid black;
  height: 20px;
  margin-top: 25px;
  padding-right: 5%;
}

.image {
  padding-top: 15px;
}


img {
  width: 50px;
}

/* ------------------- lien -------------------------- */
a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
}

a:active  {
  color: black;
}


main {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background-color: black;
  background-image: url("../img/index/fonddeux.jpg");
}

.menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  height: 45vh;
  align-items: center;
  margin-top: 30vh;
}

.droite, .gauche {
  padding: 15px 15px 25px 15px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.8);
  color: white;

}

.droite {
  height: 44vh;
}

.gauche {
  height: 26vh;
}

h1 {
  font-style: italic;
  margin-top: 20px; 
  font-size: 75px;
  color: #ffff;
  margin-top: 15vh;
}

.leTOUTdegauche {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
}

.leTOUTdedroite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
}

.input {
  outline: none;
  background-color: transparent;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  margin-top: 2vh;
  border: none;
  border-bottom: 1px solid white;
  padding: 10px 6px;
  font-size: 18px;  
}

.unblock, .deuxblock {
  display: flex;
  flex-direction: column;
}

.button {
  width: 50%;
  border-radius: 12px;
  padding: 10px;
  margin-top: 4vh;
}






/*  -------------------------------------------- top -------------------------------------------- */


.barre {
  display: flex;
  margin-top: 10px;
}

nav > div > h3 {
  font-style: italic;
  text-shadow:-0.1em -0.1em 0em white;
  margin-top: 20px;
  font-size: 35px;
}




nav {
  width: 100%;
  font-family: 'Source code pro', Calibri, serif;
  position: fixed;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}


nav > ul > li > a {
  padding: 20px 30px;
  color: white;

}

/* on aligne correctement les sous menu quand on passe la souris devant */
nav > ul  > li:hover a {
  padding: 15px 30px 20px 30px;
  background-color: black;

}


nav li {
  list-style-type: none; /*on eneleve les points*/
}

/* on met les titres cote a cote */
nav > ul > li {
  float: left; 
  position: relative;

}

.submenu {
  display: none; /* on fait disparaitre les sous menu / attention il faudra les faire réaparaitre */
}

nav a {
  display: inline-block;
  text-decoration: none;

}

/* on re affiche les sous menu quand on pace la souris dessus */
nav li:hover .submenu {  
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 1000;


}



/* bordure qui a entre les sous menus */
.submenu li {
  border-bottom: 2px solid white;
}

.submenu li a {
  padding: 15px 30px;
    font-size: 15px;
    color: white;
    width: 270px;

}

/* on change la couleur quand on passe sa souris  dessus */
.menuhomme:hover {
  border-top: 5px solid #e44d26;
  background-color: rgba(228, 77, 38, 0.15);
}

.menufemme:hover {
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}

.menuhomme, .menufemme {
  font-size: 25px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}


/* --------------------------------- bouton valider -----------------------------*/




.loupeimage {
  width: 30px;
}

.modulerecherche {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
}

#rechercher {
  height: 30%;
  margin-top: 3%;
}
