*{
  margin: 0;
  padding: 0;
  max-width: 100%;
  max-height: 100%;
}



h3 {
  font-style: italic;
  text-shadow:-0.1em -0.1em 0em white;
  margin-top: 20px; 
  font-size: 35px;
}

header {
  color: black;
}



/* --------------------------- footer --------------------------*/

footer {
}

.element {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ecriture {
  border-right: 3px solid black;
  height: 20px;
  margin-top: 25px;
  padding-right: 5%;
}

.image {
  padding-top: 15px;
}


img {
  width: 50px;
}
/* ------------------- lien -------------------------- */
footer > div > p > a, h3 > a {
  text-decoration: none;
  color: black;
}

main > div > p > a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:active  {
  color: black;
}

main > div > p > a:active  {
  color: white;
}



/* --------------------------------- bouton valider -----------------------------*/




.loupeimage {
  width: 30px;
}

.modulerecherche {
  margin-top: 20px;
  margin-right: 20px;
}



/*  -------------------------------------------- top -------------------------------------------- */

.barre {
  display: flex;
  margin-top: 10px;
}


nav {
  width: 100%;
  font-family: 'Source code pro', Calibri, serif;
  position: fixed;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  float: top;
}


nav > ul > li > a {
  padding: 20px 30px;
  color: white;

}

/* on aligne correctement les sous menu quand on passe la souris devant */
nav > ul  > li:hover a {
  padding: 15px 30px 20px 30px;


}


nav li {
  list-style-type: none; /*on eneleve les points*/


}

/* on met les titres cote a cote */
nav > ul > li {
  float: left; 
  position: relative;



}

.submenu {
  display: none; /* on fait disparaitre les sous menu / attention il faudra les faire réaparaitre */
}

nav a {
  display: inline-block;
  text-decoration: none;


}

/* on re affiche les sous menu quand on pace la souris dessus */
nav li:hover .submenu {  
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  padding-bottom: 100px;
  z-index: 1000;
  background-color: black;

}



/* bordure qui a entre les sous menus */
.submenu li {
  border-bottom: 2px solid white;
}

.submenu li a {
  padding: 15px 30px;
    font-size: 15px;
    color: white;
    width: 270px;

}

/* on change la couleur quand on passe sa souris  dessus */
.menuhomme:hover {
  border-top: 5px solid #e44d26;
  background-color: rgba(228, 77, 38, 0.15);
}

.menufemme:hover {
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}

.menuhomme, .menufemme {
  font-size: 25px;
  border-left: 2px solid white;
  border-right: 2px solid white;
}






    /* --------------------------- main --------------------------- */
/* --------------------------- haut de la page ----------------------- */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


main{
  background-image: url("../img/index/fonddeux.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  font-family: "times New Roman ";
}

.letout {
  margin-top: 20vh;
  color: white;
  display: flex;
}

.gauche {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-left: 15%;
}

.droite {
  width: 30%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

form > div > p, .droite  > p {
  font-size: 30px;
  margin-bottom: 3vh;
}

.gauche > form > div > input {
  height: 4vh;
  width: 100vh;
  margin-top: 5px;
  padding: 5px 5px 5px 5px;
  border: 3px solid grey;
}

#grosinput {
  height: 30vh;
  width: 100vh;
}

#envoyer {
  width: 20vh;
  margin-top: 10px;
  background-color: green;
}

.ligne, .lignequatre {
  display: flex;
  font-size: 18px;
}

.lignequatre {
  margin-bottom: 5px;
}

.ligne > div > p {
  padding-top: 10px;
}

.lignequatre > div > p > a {
  color: white;
  text-decoration: none;
}

.lignequatre > div > p > a:hover {
  text-decoration: underline;
}